@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Outfit:wght@100..900&family=PT+Serif:wght@400;700&family=Zilla+Slab:wght@400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oufit';
}

#root{
  min-height: 100vh;
  display: flex;
}